input[type=button], input[type=submit] {
    background-color: #008CBA; 
    background: -webkit-linear-gradient(#65a9d7, #3e779d);
    background:    -moz-linear-gradient(#65a9d7, #3e779d);
    background:         linear-gradient(#65a9d7, #3e779d);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 2px solid #008CBA;
    margin: 20px;
}

.btn {
    padding: 16px 32px;
    font-size: 16px;
    border-radius: 6px;
}

.btn:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}

.btn_small {
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 4px;
}

.btn_small:hover {box-shadow: 0 9px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}

#addRowBtn {margin: 10px 0px 0px;}

#delete_button {margin: 0px;}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

input[type=text] {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: black;
    padding: 0px; 
    border: 0px;
    background-color: transparent;
    text-align: left;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    table-layout: auto;
    border-spacing: 0px;
    padding: 0px;
    margin: 0px;
    display: block;
    vertical-align: bottom;
    color: black;
}

th {
    border: 1px solid #ddd;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #008CBA; 
    background: -webkit-linear-gradient(#65a9d7, #3e779d);
    background:    -moz-linear-gradient(#65a9d7, #3e779d);
    background:         linear-gradient(#65a9d7, #3e779d);
    border-radius: 6px;
    color: white;
}

td {
    padding: 4px;
    margin: 0px;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

#recipe_table tr td:nth-child(2) {
    text-align: right;
}

#grocery_table {border-collapse: separate;}

#recipe_table {border-collapse: collapse;}

#item_table {border-collapse: separate;}

#item_table td {
    border: 1px solid #ddd;
}

#select_row {background-color: white;}

#item {margin: 2px;}

.heading {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

#ShoppingList {display: none;}

#SubmitButton {text-align:center;}

.hide {display: none;}

input[type=email] {
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

select {
    padding: 4px; 
    border: 1px solid #ccc;
    margin: 2px 0px 20px;
    background-color: transparent;
}

.content {
    display: table;
    margin: 0 auto;
}