{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
<script src="static/request_helpers.js" type="text/javascript"></script>
<script src="static/list_funcs.js" type="text/javascript"></script>

<script>window.onload = make_request("/recipes", load_recipes);</script>
<script>window.onload = make_request("/links", load_links);</script>

<div class=content>
  <div class=content>
    <input id="pullList" type="button" class="btn" value="Pull Existing List" onclick="pullList();" />
    <input id="newList" type="button" class="btn" value="Create New List" onclick="createFirstList();" />
  </div>

  <datalist id="recipes"></datalist>

  <div id="RecipesGroup" class="hide">
    <div class=content id="AddRecipes">
      <h2 class="heading">Select Recipes</h2>
    </div>

    <div class=content id="AddRecipesButton">
      <select id="recipe_sort">
        <option value="Recipe Types">Recipe Types</option>
        <option value="All Recipes">All Recipes</option>
      </select>
    </div>
    <div class=content>
      <input id="recipelist" type="email" list="recipes" multiple>
    </div>
    <div class=content>
      <input id="clickMe" type="button" value="Add Recipe" class="btn" onclick="addToList('recipe_table', 'recipelist');" />
    </div>
  </div>

  <div id="RecipesChoosen" class="hide">
    <h2 class="heading">Recipes Selected</h2>

      <div id="RecipesForm" class=content>
        <form id='recipe_form'>
          <table id='recipe_table'>
            <tbody>
            </tbody>
          </table>
        </form>
      </div>

      <div class=content>
          <!--<input form ="recipes_form" type="button" value="Create Shopping List" class="btn" onclick="createList('#recipe_table tr', '/recipes?recipe=', createTable);" />-->
          <input form ="recipes_form" type="button" value="Create Shopping List" class="btn" onclick="createList('#recipe_table tr', '/recipe_cost?recipe=', createTable);" />
      </div>

  </div>

  <div class=content id="ShoppingList">
    <h2 class="heading">Shopping List</h2>

      <div id="GroceryTable" class=content>
        <form id='grocery_form' onsubmit="return post_list_request()">
          <table id='grocery_table'>
          <tr>
            <th>Food</th>
            <th colspan=2>Amount</th>
            <th>Cost</th>
          </tr>
          </table>
          <br/>
        </form>
      </div>

      <div id="ListButtons" class=content>
        <input id="addRowBtn" type="button" class="btn" value="Add Row" onclick="addRow();" />
        <!--<input id="clickMe" type="button" value="Sort Grocery List" onclick="sortTable();" />-->
      </div>

      <div id='SubmitButton'>
          <input form ="grocery_form" class="btn" type="submit" value="Submit" />
      </div>

  </div>

</div>
{% endblock %}