<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
<body>
<script src="static/request_helpers.js" type="text/javascript"></script>

<script>
//Making Get request to get list of items
function load_data(data){
  console.log(data)
  //console.log(data['items'])
  //data  = String(data)
  //data = data.replace(/[\[\]"]+/g,'');
  //data = data.split(',');

  //var inputData = data['items']
  //var outputData = [];

  //for(var i = 0; i < inputData.length; i++) {
    //var input = inputData[i];

    //outputData.push(input.Food_Name);
  //}
  //console.log(outputData)
  //data = outputData

  var f = document.createElement("form");
  var g = document.createElement("select");
  g.setAttribute('id',"item_list");
  f.appendChild(g)
  f.setAttribute('onchange', "return fill_selection()");
  var def = document.createElement("option");
  def.value = "Please Select an Item";
  def.textContent = "Please Select an Item";
  var other = document.createElement("option");
  other.value = "New Item";
  other.textContent = "New Item";
  g.appendChild(def)
  g.appendChild(other)

  for (var x in data) {
      var i = document.createElement("option"); //input element, text
      i.textContent = data[x];
      i.value = data[x]
      g.appendChild(i);
  }

  document.getElementsByTagName('body')[0].appendChild(f);
};

//Makes the call to GET item data
function fill_selection(){
  //Now we set parameters for GET request that fills selected item's data 
  selection = document.getElementById('item_list').value
  if (selection != "New Item"){
    ulr_str = "/items?item=" + selection
    make_request(ulr_str,process_request);
  }
  else {
    document.getElementById('Name').value = "";
    document.getElementById('NumPU').value = "";
    document.getElementById('NamePU').value = "";
    document.getElementById('PPU').value = "";
    document.getElementById('NumCU').value = "";
    document.getElementById('NameCU').value = "";
  }
};

//Fills the fields with request data
function process_request(data){
  data = String(data)
  data = data.replace(/[\[\]"]+/g,'');
  split = data.split(',');
  document.getElementById('Name').value = split[1];
  document.getElementById('NumPU').value = split[2];
  document.getElementById('NamePU').value = split[3];
  document.getElementById('PPU').value = split[4];
  document.getElementById('NumCU').value = split[5];
  document.getElementById('NameCU').value = split[6];
};
</script>

<script>window.onload = make_request("/items", load_data);</script>

<form id="item_form" onsubmit="return post_request()">
  Food_Name:<br>
  <input type="text" name="Food_Name", id='Name'><br>
  Num_Purchase_Unit:<br>
  <input type="text" name="Num_Purchase_Unit", id="NumPU"><br>
  Name_Purchase_Unit:<br>
  <input type="text" name="Name_Purchase_Unit", id='NamePU'><br>
  Price_Purchase_Unit:<br>
  <input type="text" name="Price_Purchase_Unit", id='PPU'><br>
  Num_Cooking_Unit:<br>
  <input type="text" name="Num_Cooking_Unit", id='NumCU'><br>
  Name_Cooking_Unit:<br>
  <input type="text" name="Name_Cooking_Unit", id='NameCU'><br>
  <input type="submit" value="Submit">
</form>

<script type="text/javascript">

function post_request(){
  var request = {};
  request.Food_Name = document.getElementById('Name').value
  request.Num_Purchase_Unit = document.getElementById('NumPU').value
  request.Name_Purchase_Unit = document.getElementById('NamePU').value
  request.Price_Purchase_Unit = document.getElementById('PPU').value
  request.Num_Cooking_Unit = document.getElementById('NumCU').value
  request.Name_Cooking_Unit = document.getElementById('NameCU').value

  url = "/items"
  var xhr = createCORSRequest('POST', url);
  if (!xhr) {
    throw new Error('CORS not supported');
  }

  xhr.setRequestHeader("Content-type", "application/json");

  xhr.onerror = function() {console.log('There was an error!');};

  var data = JSON.stringify(request);
  console.log(data)
  xhr.send(data);
  return false;
};
</script>

</body>
</html>
