{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
<script src="static/request_helpers.js" type="text/javascript"></script>
<script src="static/item_funcs.js" type="text/javascript"></script>
<script>window.onload = make_request("/items", load_data);</script>

<div class='content'>

  <div class='content'>
    <h1>Food Items</h1>
  </div>

  <div class='content'>
  <form onchange="return fill_selection()">
    <select id="item_list">
      <option value="Please Select an Item">Please Select an Item</option>
      <option value="New Item">New Item</option>
    </select>
  </form>
  </div>

  <form id='item_form' onsubmit="return post_item_request()">
    <table id='item_table'>
      <tbody>
          <tr>
            <td>Food Name</td>          
            <td><input type="text" name="Food_Name" size="20" id='Name'></td>
          </tr>
          <tr>
            <td>Purchase Units</td>
            <td><input type="text" name="Num_Purchase_Unit" size="20" id='NumPU'></td>
          </tr>
          <tr>
            <td>Name of Purchase Units</td>
            <td><input type="text" name="Name_Purchase_Unit" size="20" id='NamePU'></td>
          </tr>
          <tr>
            <td>Price of Purchase Units</td>
            <td><input type="text" name="Price_Purchase_Unit" size="20" id='PPU'></td>
          </tr>
          <tr>
            <td>Number of Cooking Units</td>
            <td><input type="text" name="Num_Cooking_Unit" size="20" id='NumCU'></td>
          </tr>
            <td>Name of Cooking Units</td>
            <td><input type="text" name="Name_Cooking_Unit" size="20" id='NameCU'></td>
          </tr>
      </tbody>
    </table>
  </form>

  <div class="content">
    <input form ="item_form" type="submit" class="btn_small" value="Submit">
  </div>
</div>
{% endblock %}